@import "~bootstrap/scss/bootstrap";

h1 {
  text-align: center;
}

#basket {
  position: relative;
  left: 90%;
}

h3 {
  text-align: center;
}

.pizza-size {
  //display: inline-block !important;
  float: left;
}

.pizza-add-item {
  //display: inline-block !important;
  float: right;
}

body {
  background-color: darkred;
  color: white;
}